<form action="/publish" method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <legend>发布文章</legend>
        <div>
            <label for="title">标题</label>
            <input type="text" name="title" id="title" required>
        </div>
        <div>
            <label for="title">内容</label>
            <textarea type="text" name="content" id="content" required></textarea>
        </div>
        <div>
            <button type='submit'>发布</button>
            <button type='reset'>重置</button>
        </div>
    </fieldset>
</form>